.community {
    margin: 20px 20px;
    display: grid;
    grid-template-areas: 'com mes';
    grid-template-columns: 1fr 5fr;
    grid-gap: 3px;
}

.community__item {
    /*border: 1px solid black;*/
    grid-area: com;
}

.messages {
    border: 1px solid black;
    grid-area: mes;
}

.avatarCapture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.item__name {
    text-decoration: none;
    /*background-color: cornflowerblue;*/
}

.item__name:hover {
    background-color: rgb(0, 163, 163);
    color: white;
}

.active {
    padding: 0 0 0 20px;
    color: gold;
}