.community {
    margin: 20px 20px;
    display: grid;
    grid-template-areas: 'com mes';
    grid-template-columns: 1fr 5fr;
    grid-gap: 3px;
}

.community__item {
    /*border: 1px solid black;*/
    grid-area: com;
}

.messages {
    border: 1px solid black;
    grid-area: mes;
}