.item__name {
    text-decoration: none;
    /*background-color: cornflowerblue;*/
}

.item__name:hover {
    background-color: rgb(0, 163, 163);
    color: white;
}

.active {
    padding: 0 0 0 20px;
    color: gold;
}

.avatarCapture {
    width: 50px;
    height: 50px;
}