.list__item {
    color: #000000;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border: 1px solid black;
    padding: 0 0 0 20px;
}

.list__item:hover {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    color: #cc6b8e;
    /*padding: 0 0 0 20px;*/
    height: 70px;
}

.item__description {
}

.item__input {
}
