.page {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-areas:
    "h h h"
    "s p p";
  grid-template-rows: 50px;
  grid-template-columns: 1fr 5fr;
  grid-gap: 3px;
}

.page__header {
  grid-area: h;
  background-color: rgb(0, 231, 212);
}

.page__sidebar {
  grid-area: s;
  background-color: rgb(0, 231, 212);
}

.page__profile {
  grid-area: p;
}

@media screen and (max-width: 640px) {
  .page {
    grid-template-areas:
      "s h"
      "p p";
    grid-template-columns: 1fr 1fr;
  }
}
